USE [ModelSociety_Dev]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](255) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Title] [nvarchar](10) NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[StateId] [int] NULL,
	[CountryId] [int] NOT NULL,
	[Address1] [nvarchar](100) NULL,
	[Address2] [nvarchar](100) NULL,
	[IsBusinessAddress] [bit] NOT NULL,
	[AddressTypeId] [int] NULL,
	[PhoneNumber] [nvarchar](25) NULL,
	[Email] [nvarchar](100) NULL,
	[ZipCode] [nvarchar](20) NULL,
	[MemberId] [uniqueidentifier] NULL,
	[Longitude] [float] NULL,
	[Latitude] [float] NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvatarThumbnails]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvatarThumbnails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[ImageResolutionId] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[AltAttribute] [nvarchar](255) NULL,
 CONSTRAINT [PK_AvatarThumbnails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AvatarThumbnails2]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvatarThumbnails2](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[ImageResolutionId] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockedMembers]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockedMembers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BlockerId] [uniqueidentifier] NOT NULL,
	[BlockedId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_BlockedMembers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UseInSearch] [bit] NOT NULL,
	[Rank] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryImages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryImages](
	[Category_Id] [int] NOT NULL,
	[Image_Id] [int] NOT NULL,
 CONSTRAINT [PK_CategoryImages] PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC,
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collaborations]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collaborations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[CollaboratorId] [uniqueidentifier] NOT NULL,
	[CreationDate] [datetimeoffset](7) NOT NULL,
	[ApprovalDate] [datetimeoffset](7) NULL,
	[CollaborationApproved] [bit] NOT NULL,
	[ShowInPortfolio] [bit] NOT NULL,
	[CollaboratorPortfolioIndex] [int] NOT NULL,
	[ShowInProfile] [bit] NOT NULL,
	[Confirmed] [bit] NOT NULL,
	[ImageId] [int] NOT NULL,
 CONSTRAINT [PK_Collaborations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[PageId] [int] NOT NULL,
	[ObjectId] [varchar](36) NULL,
	[Text] [nvarchar](1000) NOT NULL,
	[Deleted] [bit] NOT NULL,
	[IsOwned] [bit] NOT NULL,
	[PublishedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentThreads]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentThreads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CommentId] [int] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[text] [nvarchar](1000) NOT NULL,
	[PublishedDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_CommentThreads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Abbreviation] [nvarchar](3) NOT NULL,
	[PayPalAbbreviation] [nvarchar](2) NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailNotificationSettings]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailNotificationSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FavoritesNotificationTypeId] [int] NOT NULL,
	[Newsletter] [bit] NOT NULL,
	[NeedtoApproveCredit] [bit] NOT NULL,
	[CommentsOnCreditedWorks] [bit] NOT NULL,
	[WorkAddedToGallery] [bit] NOT NULL,
	[CommentOnImageOrGallery] [bit] NOT NULL,
	[NewMessageReceived] [bit] NOT NULL,
	[ProfileWeeklyStats] [bit] NOT NULL,
	[WorkAddedByFavorites] [bit] NOT NULL,
	[NewFollower] [bit] NOT NULL,
 CONSTRAINT [PK_EmailNotificationSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeaturedImages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeaturedImages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageId] [int] NOT NULL,
	[DateAssigned] [datetimeoffset](7) NOT NULL,
	[Comments] [nvarchar](max) NULL,
	[FeaturedTypeId] [int] NOT NULL,
	[Parameter] [nvarchar](50) NULL,
 CONSTRAINT [PK_FeaturedImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galleries]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galleries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[Views] [int] NOT NULL,
	[Comments] [int] NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[Index] [int] NOT NULL,
	[TitleForUrl] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Galleries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GalleryImages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GalleryImages](
	[GalleryId] [int] NOT NULL,
	[ImageId] [int] NOT NULL,
	[Index] [int] NOT NULL,
	[DateCreated] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_GalleryImages] PRIMARY KEY CLUSTERED 
(
	[GalleryId] ASC,
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeoPoints]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeoPoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Longitude] [float] NOT NULL,
	[Latitude] [float] NOT NULL,
	[Address] [nvarchar](4000) NULL,
 CONSTRAINT [PK_GeoPoints] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Approved] [bit] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[CommentsCount] [int] NULL,
	[ShowInProtfolio] [bit] NOT NULL,
	[PortfolioIndex] [int] NOT NULL,
	[PublishedDate] [datetimeoffset](7) NOT NULL,
	[PresentTypeId] [int] NOT NULL,
	[ColorTypeId] [int] NOT NULL,
	[TypeId] [int] NOT NULL,
	[ProcessedDate] [datetimeoffset](7) NULL,
	[IsCompleted] [bit] NOT NULL,
	[OriginalFileName] [nvarchar](max) NULL,
	[Portrait] [bit] NOT NULL,
	[IsWatermarked] [bit] NOT NULL,
	[Opactiy] [int] NOT NULL,
	[BlackWatermark] [bit] NOT NULL,
	[FileSize] [bigint] NOT NULL,
	[PartitionKey] [nvarchar](40) NULL,
	[DateApproved] [datetimeoffset](7) NULL,
	[BlockReason] [nvarchar](max) NULL,
	[Views] [int] NOT NULL,
	[IsSeoNameApplied] [bit] NOT NULL,
	[ExcludeFromFeed] [bit] NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageThumbnails]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageThumbnails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ImageId] [int] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[ImageResolutionId] [int] NOT NULL,
	[Width] [int] NOT NULL,
	[Height] [int] NOT NULL,
	[AltAttribute] [nvarchar](255) NULL,
 CONSTRAINT [PK_ImageThumbnails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeywordImages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeywordImages](
	[Keyword_Id] [int] NOT NULL,
	[Image_Id] [int] NOT NULL,
 CONSTRAINT [PK_KeywordImages] PRIMARY KEY CLUSTERED 
(
	[Keyword_Id] ASC,
	[Image_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Keywords]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Keywords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Keywords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MagazineSubmissionsSettings]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MagazineSubmissionsSettings](
	[MemberId] [uniqueidentifier] NOT NULL,
	[OptInDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MagazineSubmissionsSettings] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberLinks]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberLinks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](400) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[Url] [nvarchar](255) NOT NULL,
	[CommunityOnly] [bit] NOT NULL,
 CONSTRAINT [PK_MemberLinks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberMessages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[MessageId] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[IsBookmarked] [bit] NOT NULL,
 CONSTRAINT [PK_MemberMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberNoticeDates]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberNoticeDates](
	[Id] [uniqueidentifier] NOT NULL,
	[MemberNoticeId] [uniqueidentifier] NOT NULL,
	[AddressId] [int] NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
 CONSTRAINT [PK_MemberNoticeDates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberNotices]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberNotices](
	[Id] [uniqueidentifier] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[PostTypeId] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Compensation] [nvarchar](255) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
 CONSTRAINT [PK_MemberNotices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberRelations]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberRelations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PrimaryMemberId] [uniqueidentifier] NOT NULL,
	[ForeignMemberId] [uniqueidentifier] NOT NULL,
	[FavoriteStartDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_MemberRelations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberRoles]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberRoles](
	[Member_Id] [uniqueidentifier] NOT NULL,
	[Role_RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_MemberRoles] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC,
	[Role_RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[Id] [uniqueidentifier] NOT NULL,
	[AvatarsComplete] [bit] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ScreenName] [nvarchar](100) NULL,
	[NameSearchable] [bit] NOT NULL,
	[About] [nvarchar](max) NULL,
	[GenderId] [int] NOT NULL,
	[BirthDay] [datetime] NULL,
	[LastLoginDate] [datetimeoffset](7) NULL,
	[EmailNotificationSettingsId] [int] NULL,
	[WorkingWithMeSettingsId] [int] NULL,
	[MemberTypeId] [int] NOT NULL,
	[PhotographerTypeId] [int] NOT NULL,
	[MustBeProcessedByAdmin] [bit] NOT NULL,
	[Email] [nvarchar](250) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[LastPasswordFailureDate] [datetimeoffset](7) NULL,
	[ConfirmationToken] [nvarchar](100) NULL,
	[CreateDate] [datetimeoffset](7) NULL,
	[PasswordChangedDate] [datetimeoffset](7) NULL,
	[PasswordVerificationToken] [nvarchar](100) NULL,
	[PasswordVerificationTokenExpirationDate] [datetimeoffset](7) NULL,
	[ProfileViews] [int] NOT NULL,
	[FollowersCount] [int] NOT NULL,
	[FavoritesCount] [int] NOT NULL,
	[CommentsCount] [int] NULL,
	[AccountStatusId] [int] NOT NULL,
	[DateApproved] [datetimeoffset](7) NULL,
	[IsBlocked] [bit] NOT NULL,
	[BlockReason] [nvarchar](max) NULL,
	[DateBlocked] [datetimeoffset](7) NULL,
	[PreviousLoginDate] [datetimeoffset](7) NULL,
	[PartitionKey] [nvarchar](40) NULL,
	[Notes] [nvarchar](400) NULL,
	[LastName] [nvarchar](100) NULL,
	[NameForUrl] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[IsAvatarSeoNameApplied] [bit] NOT NULL,
	[IsAvatar2] [bit] NOT NULL,
	[AvatarThumbsGenerated] [bit] NOT NULL,
	[DonationStarted] [datetimeoffset](7) NULL,
	[DonationLevel] [varchar](50) NULL,
	[DonationCancelled] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipApplications]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipApplications](
	[MemberId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[Closed] [bit] NOT NULL,
	[ClosedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_MembershipApplications] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipApplicationVotes]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipApplicationVotes](
	[Id] [uniqueidentifier] NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[CreateDate] [datetimeoffset](7) NOT NULL,
	[ModifyDate] [datetimeoffset](7) NULL,
	[ApplicantId] [uniqueidentifier] NOT NULL,
	[Yes] [bit] NOT NULL,
	[Comments] [nvarchar](max) NULL,
 CONSTRAINT [PK_MembershipApplicationVotes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromId] [uniqueidentifier] NOT NULL,
	[ToId] [uniqueidentifier] NOT NULL,
	[Date] [datetimeoffset](7) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[MessageTypeId] [tinyint] NOT NULL,
	[ThreadId] [int] NULL,
	[LastMessageThreadId] [int] NULL,
 CONSTRAINT [PK_Messages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MemberId] [uniqueidentifier] NOT NULL,
	[NotificationTypeId] [int] NOT NULL,
	[ObjectId] [nvarchar](50) NULL,
	[Message] [nvarchar](400) NULL,
	[NotificationMemberId] [uniqueidentifier] NULL,
	[Date] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[States]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[States](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[CountryId] [int] NOT NULL,
	[Abbreviation] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_States] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Value] [nvarchar](max) NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_SystemSettings] PRIMARY KEY NONCLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkingWithMeSettings]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkingWithMeSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkingWithMe] [nvarchar](4000) NULL,
	[PaidAssignments] [bit] NOT NULL,
	[OpenToTrade] [bit] NOT NULL,
	[NoNudes] [bit] NOT NULL,
	[ImpliedNudes] [bit] NOT NULL,
	[ArtisticNudes] [bit] NOT NULL,
 CONSTRAINT [PK_WorkingWithMeSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZipCodes]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZipCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Code] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[StateId] [int] NOT NULL,
 CONSTRAINT [PK_ZipCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ('0') FOR [Rank]
GO
ALTER TABLE [dbo].[EmailNotificationSettings] ADD  CONSTRAINT [DF_EmailNotificationSettings_NewFollower]  DEFAULT ((1)) FOR [NewFollower]
GO
ALTER TABLE [dbo].[Images] ADD  DEFAULT ((0)) FOR [IsSeoNameApplied]
GO
ALTER TABLE [dbo].[Images] ADD  CONSTRAINT [DF_Images_ExcludeFromFeed]  DEFAULT ((0)) FOR [ExcludeFromFeed]
GO
ALTER TABLE [dbo].[MagazineSubmissionsSettings] ADD  CONSTRAINT [DF_MagazineSubmissionsSettings_OptInDate]  DEFAULT (getdate()) FOR [OptInDate]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_FollowersCount]  DEFAULT ((0)) FOR [FollowersCount]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_FavoritesCount]  DEFAULT ((0)) FOR [FavoritesCount]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('1') FOR [IsActive]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [IsAvatarSeoNameApplied]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_IsAvatar2]  DEFAULT ((0)) FOR [IsAvatar2]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_AvatarThumbsGenerated]  DEFAULT ((0)) FOR [AvatarThumbsGenerated]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Countries_CountryId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_Members_MemberId]
GO
ALTER TABLE [dbo].[Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[Addresses] CHECK CONSTRAINT [FK_Addresses_States_StateId]
GO
ALTER TABLE [dbo].[AvatarThumbnails]  WITH CHECK ADD  CONSTRAINT [FK_AvatarThumbnails_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AvatarThumbnails] CHECK CONSTRAINT [FK_AvatarThumbnails_Members_MemberId]
GO
ALTER TABLE [dbo].[BlockedMembers]  WITH CHECK ADD  CONSTRAINT [FK_BlockedMembers_Members_BlockedId] FOREIGN KEY([BlockedId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[BlockedMembers] CHECK CONSTRAINT [FK_BlockedMembers_Members_BlockedId]
GO
ALTER TABLE [dbo].[BlockedMembers]  WITH CHECK ADD  CONSTRAINT [FK_BlockedMembers_Members_BlockerId] FOREIGN KEY([BlockerId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[BlockedMembers] CHECK CONSTRAINT [FK_BlockedMembers_Members_BlockerId]
GO
ALTER TABLE [dbo].[CategoryImages]  WITH CHECK ADD  CONSTRAINT [FK_CategoryImages_Categories_Category_Id] FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryImages] CHECK CONSTRAINT [FK_CategoryImages_Categories_Category_Id]
GO
ALTER TABLE [dbo].[CategoryImages]  WITH CHECK ADD  CONSTRAINT [FK_CategoryImages_Images_Image_Id] FOREIGN KEY([Image_Id])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CategoryImages] CHECK CONSTRAINT [FK_CategoryImages_Images_Image_Id]
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD  CONSTRAINT [FK_Collaborations_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collaborations] CHECK CONSTRAINT [FK_Collaborations_Images_ImageId]
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD  CONSTRAINT [FK_Collaborations_Members_CollaboratorId] FOREIGN KEY([CollaboratorId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Collaborations] CHECK CONSTRAINT [FK_Collaborations_Members_CollaboratorId]
GO
ALTER TABLE [dbo].[Collaborations]  WITH CHECK ADD  CONSTRAINT [FK_Collaborations_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Collaborations] CHECK CONSTRAINT [FK_Collaborations_Members_MemberId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Members_MemberId]
GO
ALTER TABLE [dbo].[CommentThreads]  WITH CHECK ADD  CONSTRAINT [FK_CommentThreads_Comments] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentThreads] CHECK CONSTRAINT [FK_CommentThreads_Comments]
GO
ALTER TABLE [dbo].[CommentThreads]  WITH CHECK ADD  CONSTRAINT [FK_CommentThreads_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[CommentThreads] CHECK CONSTRAINT [FK_CommentThreads_Members_MemberId]
GO
ALTER TABLE [dbo].[FeaturedImages]  WITH CHECK ADD  CONSTRAINT [FK_FeaturedImages_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FeaturedImages] CHECK CONSTRAINT [FK_FeaturedImages_Images_ImageId]
GO
ALTER TABLE [dbo].[Galleries]  WITH CHECK ADD  CONSTRAINT [FK_Galleries_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Galleries] CHECK CONSTRAINT [FK_Galleries_Members_MemberId]
GO
ALTER TABLE [dbo].[GalleryImages]  WITH CHECK ADD  CONSTRAINT [FK_GalleryImages_Galleries_GalleryId] FOREIGN KEY([GalleryId])
REFERENCES [dbo].[Galleries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImages] CHECK CONSTRAINT [FK_GalleryImages_Galleries_GalleryId]
GO
ALTER TABLE [dbo].[GalleryImages]  WITH CHECK ADD  CONSTRAINT [FK_GalleryImages_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GalleryImages] CHECK CONSTRAINT [FK_GalleryImages_Images_ImageId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Images_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Images_Members_MemberId]
GO
ALTER TABLE [dbo].[ImageThumbnails]  WITH CHECK ADD  CONSTRAINT [FK_ImageThumbnails_Images_ImageId] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageThumbnails] CHECK CONSTRAINT [FK_ImageThumbnails_Images_ImageId]
GO
ALTER TABLE [dbo].[KeywordImages]  WITH CHECK ADD  CONSTRAINT [FK_KeywordImages_Images_Image_Id] FOREIGN KEY([Image_Id])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KeywordImages] CHECK CONSTRAINT [FK_KeywordImages_Images_Image_Id]
GO
ALTER TABLE [dbo].[KeywordImages]  WITH CHECK ADD  CONSTRAINT [FK_KeywordImages_Keywords_Keyword_Id] FOREIGN KEY([Keyword_Id])
REFERENCES [dbo].[Keywords] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KeywordImages] CHECK CONSTRAINT [FK_KeywordImages_Keywords_Keyword_Id]
GO
ALTER TABLE [dbo].[MagazineSubmissionsSettings]  WITH CHECK ADD  CONSTRAINT [FK_MagazineSubmissionsSettings_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MagazineSubmissionsSettings] CHECK CONSTRAINT [FK_MagazineSubmissionsSettings_Members]
GO
ALTER TABLE [dbo].[MemberLinks]  WITH CHECK ADD  CONSTRAINT [FK_MemberLinks_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberLinks] CHECK CONSTRAINT [FK_MemberLinks_Members_MemberId]
GO
ALTER TABLE [dbo].[MemberMessages]  WITH CHECK ADD  CONSTRAINT [FK_MemberMessages_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberMessages] CHECK CONSTRAINT [FK_MemberMessages_Members_MemberId]
GO
ALTER TABLE [dbo].[MemberMessages]  WITH CHECK ADD  CONSTRAINT [FK_MemberMessages_Messages_MessageId] FOREIGN KEY([MessageId])
REFERENCES [dbo].[Messages] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberMessages] CHECK CONSTRAINT [FK_MemberMessages_Messages_MessageId]
GO
ALTER TABLE [dbo].[MemberNoticeDates]  WITH CHECK ADD  CONSTRAINT [FK_MemberNoticeDates_Addresses_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([Id])
GO
ALTER TABLE [dbo].[MemberNoticeDates] CHECK CONSTRAINT [FK_MemberNoticeDates_Addresses_AddressId]
GO
ALTER TABLE [dbo].[MemberNoticeDates]  WITH CHECK ADD  CONSTRAINT [FK_MemberNoticeDates_MemberNotices_MemberNoticeId] FOREIGN KEY([MemberNoticeId])
REFERENCES [dbo].[MemberNotices] ([Id])
GO
ALTER TABLE [dbo].[MemberNoticeDates] CHECK CONSTRAINT [FK_MemberNoticeDates_MemberNotices_MemberNoticeId]
GO
ALTER TABLE [dbo].[MemberNotices]  WITH CHECK ADD  CONSTRAINT [FK_MemberNotices_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[MemberNotices] CHECK CONSTRAINT [FK_MemberNotices_Members_MemberId]
GO
ALTER TABLE [dbo].[MemberRelations]  WITH CHECK ADD  CONSTRAINT [FK_MemberRelations_Members_ForeignMemberId] FOREIGN KEY([ForeignMemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[MemberRelations] CHECK CONSTRAINT [FK_MemberRelations_Members_ForeignMemberId]
GO
ALTER TABLE [dbo].[MemberRelations]  WITH CHECK ADD  CONSTRAINT [FK_MemberRelations_Members_PrimaryMemberId] FOREIGN KEY([PrimaryMemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[MemberRelations] CHECK CONSTRAINT [FK_MemberRelations_Members_PrimaryMemberId]
GO
ALTER TABLE [dbo].[MemberRoles]  WITH CHECK ADD  CONSTRAINT [FK_MemberRoles_Members_Member_Id] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberRoles] CHECK CONSTRAINT [FK_MemberRoles_Members_Member_Id]
GO
ALTER TABLE [dbo].[MemberRoles]  WITH CHECK ADD  CONSTRAINT [FK_MemberRoles_Roles_Role_RoleId] FOREIGN KEY([Role_RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MemberRoles] CHECK CONSTRAINT [FK_MemberRoles_Roles_Role_RoleId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_EmailNotificationSettings_EmailNotificationSettingsId] FOREIGN KEY([EmailNotificationSettingsId])
REFERENCES [dbo].[EmailNotificationSettings] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_EmailNotificationSettings_EmailNotificationSettingsId]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_WorkingWithMeSettings_WorkingWithMeSettingsId] FOREIGN KEY([WorkingWithMeSettingsId])
REFERENCES [dbo].[WorkingWithMeSettings] ([Id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_WorkingWithMeSettings_WorkingWithMeSettingsId]
GO
ALTER TABLE [dbo].[MembershipApplications]  WITH CHECK ADD  CONSTRAINT [FK_MembershipApplications_Members] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MembershipApplications] CHECK CONSTRAINT [FK_MembershipApplications_Members]
GO
ALTER TABLE [dbo].[MembershipApplicationVotes]  WITH CHECK ADD  CONSTRAINT [FK_MembershipApplicationVotes_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[MembershipApplicationVotes] CHECK CONSTRAINT [FK_MembershipApplicationVotes_Members_MemberId]
GO
ALTER TABLE [dbo].[MembershipApplicationVotes]  WITH CHECK ADD  CONSTRAINT [FK_MembershipApplicationVotes_MembershipApplications_ApplicantId] FOREIGN KEY([ApplicantId])
REFERENCES [dbo].[MembershipApplications] ([MemberId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MembershipApplicationVotes] CHECK CONSTRAINT [FK_MembershipApplicationVotes_MembershipApplications_ApplicantId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Members_FromId] FOREIGN KEY([FromId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Members_FromId]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Messages_Members_ToId] FOREIGN KEY([ToId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Messages_Members_ToId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Members_MemberId] FOREIGN KEY([MemberId])
REFERENCES [dbo].[Members] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Members_MemberId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Members_NotificationMemberId] FOREIGN KEY([NotificationMemberId])
REFERENCES [dbo].[Members] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Members_NotificationMemberId]
GO
ALTER TABLE [dbo].[States]  WITH CHECK ADD  CONSTRAINT [FK_States_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[States] CHECK CONSTRAINT [FK_States_Countries_CountryId]
GO
ALTER TABLE [dbo].[ZipCodes]  WITH CHECK ADD  CONSTRAINT [FK_ZipCodes_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
GO
ALTER TABLE [dbo].[ZipCodes] CHECK CONSTRAINT [FK_ZipCodes_Countries_CountryId]
GO
ALTER TABLE [dbo].[ZipCodes]  WITH CHECK ADD  CONSTRAINT [FK_ZipCodes_States_StateId] FOREIGN KEY([StateId])
REFERENCES [dbo].[States] ([Id])
GO
ALTER TABLE [dbo].[ZipCodes] CHECK CONSTRAINT [FK_ZipCodes_States_StateId]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminsEmail]    Script Date: 20.01.2026 22:56:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[GetAdminsEmail]
as
(
 select m.Email from members as m
join MemberRoles as mr on m.Id = mr.Member_Id
join Roles as r on r.RoleId = mr.Role_RoleId
where r.RoleName = 'admin'
)
GO
